body,html {
    height: 100%;
    margin: 0;
}

/* navbar */
/* ====================================================================== */
.navbar{
    color: #ffffff;
    background-color: #2e383f;
    font-family: 'Cardo', serif;
}

.navbar-header{
    font-family: 'Cinzel Decorative', cursive;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover{
    color: #ffffff;
}

li a:hover { 
    color: #ffffff;
    background-color: #ff6f3c;
    font-family: 'Cardo', serif;
}



/* parallax Effect  */
/* ====================================================================== */
.parallax-1{
    position: relative;
    opacity: 0.91;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1{
    background-image: url("../images/books.jpg");
    min-height: 100%;
    width: auto;
    filter: grayscale(57%);
}


.secTitle{
    color: black;
    text-align: center;
    padding:50px 80px;
    font-family: 'Cardo', serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}


#pastor{
    width: auto;

}
.pimage{
    text-align: center;
    width: 400px;

}

.bodyText{
    margin: 2px;
    /* text-align: justify; */
    font-size: 19px;
    font-family: 'Braler', serif;
}



/* Welcome name */
/* ====================================================================== */
.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Cinzel', serif;
    background-color: rgba(255, 81, 0,0.77);
}

@media screen and (min-width:360px) and (max-width:439px){
    .caption {
        position: absolute;
        left: 0;
        top: 35%;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-family: 'Cinzel', serif;
        background-color: rgba(255, 81, 0,0.7);
    }

}

